@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #24272E;
}

header {
	background: white;
	padding: 20px;
}

header>h1 {
	color: #24272E;
	text-align: center;
	font-family: Asap, sans-serif;
}

.score-board {
	margin: 20px auto;
	border: 2px solid white;
	border-radius: 4px;
	text-align: center;
	width: 200px;
	color: white;
	font-size: 46px;
	padding: 15px 20px;
	font-family: Asap, sans-serif;
}

.badge {
	background: #E25840; 
	color: white; 
	font-size: 14px; 
	padding: 2px 10px; 
	font-family: Asap, sans-serif; 
}
