body {
	background-color: black;
}

.container {
	margin-top: 50px;
}

.container h1 {
	padding-bottom: 20px;
	text-align: center;
}

.container p {
	height: 20px;
	text-align: center;
}

.green {
	color: green;
}

.red {
	color:red;
}
